<h1>Word of the Day</h1>

<div class="word-of-the-day">
  <h2><%= @word.hiragana %></h2>
  <p><strong>Romanji:</strong> <%= @word.romanji %></p>
  <p><strong>Kanji:</strong> <%= @word.kanji %></p>
  <p><strong>English Meaning:</strong> <%= @word.english_meaning %></p>
</div>